name: scenarios_conductor
logging:
  level: INFO
  files:
  - filename: logs/info.log
    level: INFO
prometheus:
  disable: false
  port: 9000
fileserver:
  url: http://localhost:9000
  bucket: scenarios.conductor
  cadastre_path: cadastre.pickle
  access_key: ''
  secret_key: ''
broker:
  client_id: scenarios-conductor
  group_id: scenarios-conductor-group
  bootstrap_servers: localhost:9092,localhost:9093,localhost:9094
  schema_registry_url: http://localhost:8081
  auto_offset_reset: latest
  enable_auto_commit: false
urban_api:
  host: http://localhost:8000/
  auth:
    auth_server_url: https://keycloak.idu.actcognitive.org
    realm: IDU
    client_id: scenarios-conductor
    client_secret: secret
    background_refresh: true
  ping_timeout_seconds: 2.0
  operation_timeout_seconds: 60.0
